<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <configSections>
        <section name="throttling" type="Dxw.Throttling.Asp.Configuration.PassBlockConfigurationSectionHandler, Dxw.Throttling.Asp"/>
    </configSections>

    <throttling>
        <rules>
            <rule type="Dxw.Throttling.Asp.Rules.AspRuleAndNode, Dxw.Throttling.Asp" name="and">
                <rules>
                    <rule type="Dxw.Throttling.Asp.Rules.Constant.AspConstantRule, Dxw.Throttling.Asp" value="Pass" />
                    <rule type="Dxw.Throttling.Asp.Rules.Constant.AspConstantRule, Dxw.Throttling.Asp" value="Block" />
                </rules>
            </rule>
        </rules>
    </throttling>
    
      <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <dependentAssembly>
            <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
          </dependentAssembly>
        </assemblyBinding>
      </runtime>
</configuration>