<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Throttling" type="Dxw.Throttling.Core.Configuration.ThrottleConfiguration, Dxw.Throttling.Core"/>
  </configSections>

  <Throttling>
    <quota maxHits="2" perSeconds="3" type="Dxw.Throttling.Core.Keyer.ConstantKeyer, Dxw.Throttling.Core"/>
  </Throttling>

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>