<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="throttling" type="Dxw.Throttling.Core.Configuration.ThrottleConfiguration, Dxw.Throttling.Core"/>
    </configSections>

    <throttling>
        <storages>
            <storage type="Dxw.Throttling.Core.Storage.LocalMemoryStorage, Dxw.Throttling.Core" name="local" />
        </storages>
        <rules>
            <rule type="Dxw.Throttling.Core.Rules.RuleAndNode">
                <rule type="Dxw.Throttling.Core.Rules.StorageKeyerProcessorRule" name="single">
                    <storage name="local" />
                    <keyer type="Dxw.Throttling.Core.Keyer.ConstantKeyer" />
                    <processor type="Dxw.Throttling.Core.EventProcessor.RequestCountPerPeriodProcessor" count="3" period="00:00:10" />
                </rule>    
            </rule>
        </rules>
    </throttling>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>