<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="throttling" type="Dxw.Throttling.Core.Configuration.ConfigurationSectionHandler, Dxw.Throttling.Core" />
    </configSections>

    <throttling>
        <storages>
            <storage type="Dxw.Throttling.Redis.Storages.RedisStorage, Dxw.Throttling.Redis" name="redis" connectionString ="localhost" />
        </storages>
        <rules>
            <rule type="Dxw.Throttling.Core.Rules.RuleAndNode">
                <rule type="Dxw.Throttling.Core.Rules.StorageKeyerProcessorRule" name="single">
                    <storage name="local" />
                    <keyer type="Dxw.Throttling.Core.Keyers.ConstantKeyer" />
                    <processor type="Dxw.Throttling.Core.Processors.RequestCountPerPeriodProcessor" count="3" period="00:00:10" />
                </rule>
            </rule>
            <rule type="Dxw.Throttling.Core.Rules.StorageKeyerProcessorRule" name="singleRedis">
                <storage name="redis" />
                <keyer type="Dxw.Throttling.Core.Keyers.ConstantKeyer" />
                <processor type="Dxw.Throttling.Redis.Processors.RequestCountPerPeriodProcessor, Dxw.Throttling.Redis"
                           count="3" period="00:00:10" />
            </rule>
        </rules>
    </throttling>
</configuration>