<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="throttling" type="Dxw.Throttling.Core.Configuration.ConfigurationSectionHandler`1[[Dxw.Throttling.Core.Rules.PassBlockVerdict, Dxw.Throttling.Core, Version=1.0.0.8, Culture=neutral, PublicKeyToken=null]], Dxw.Throttling.Core, Version=1.0.0.8, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    
    <throttling>
        <storages>
            <storage type="Dxw.Throttling.Core.Storages.LocalMemoryStorage, Dxw.Throttling.Core" name="local" />
            <storage type="Dxw.Throttling.Redis.Storages.RedisStorage, Dxw.Throttling.Redis" name="redis" 
                     connectionString ="localhost" />
        </storages>
        <rules>
            <rule type="Dxw.Throttling.Core.Rules.RuleAndNode">
                <rule type="Dxw.Throttling.Core.Rules.StorageKeyerProcessorPassBlockRule" name="single">
                    <storage name="local" />
                    <keyer type="Dxw.Throttling.Core.Keyers.ConstantKeyer" />
                    <processor type="Dxw.Throttling.Core.Processors.RequestCountPerPeriodProcessor" count="3" period="00:00:10" />
                </rule>    
            </rule>
            <rule type="Dxw.Throttling.Core.Rules.StorageKeyerProcessorPassBlockRule" name="singleRedis">
                <storage name="redis" />
                <keyer type="Dxw.Throttling.Core.Keyers.ConstantKeyer" />
                <processor type="Dxw.Throttling.Redis.Processors.RequestCountPerPeriodProcessorBlockPass, Dxw.Throttling.Redis"
                           count="3" period="00:00:10" />
            </rule>
        </rules>
    </throttling>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>